/* .navbar-brand {
    float: left;
   margin-left: -20%

  }
  */
  .navbar{
    background-color: lightgray;
    margin-top: 2px;
    margin-left: 10px;
    margin-right: 10px;
    border-width: 3;
    border-style: solid;
    float:center;
    padding-left: 70 px;
    height: 100px;
  }
    .srchdiv {
      margin-left: 100px;
      float: right;
    
      
    }
    .dropdowndiv{
      top: 20px;
      margin-left: 200px;
      float: left;
    }