.loginbody {
  line-height: 34px;
  height: 1500px;
}

.loginclass.card {
  height: 550px;
  width: 800px;
}

#LoginForm {
  margin-top: 500px;
}

.img {
  height: 20px;
  width: 30px;
}

/* .googlebutton {
  height: 20px;
  width: 100px;
} */

/* img {
  height: 20px;
  width: 100px;
} */

.googlebutton {
  height: 20px;
  width: 100px;
}

.input[type="submit"],
button {
  align-items: flex-start;
  text-align: center;
  cursor: default;
  color: black;
  background-color: buttonface;
  box-sizing: border-box;
  padding: 10px 24px 3px;
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  font-size: 12px;
  border-radius: 32px;
  background-color: rgb(177, 63, 63);
}

.loginbuttonorg {
  padding-left: 50px;
}

.link-color-alt-grey {
  margin: "20px 0 50px 50px";
}

.loginbody2 {
  height: 1500px;
}
