.welcome-premium-banner {
  background: url("/assets/img/premiumWelcome1.jpg") no-repeat;
  /* background: url("/assets/img/Welcomeimg.jpg") no-repeat; */
  height: 300px;
  background-size: 100vw 100%;
}
.welcome-premium-banner__header {
  color: balck;
  margin-left: 400px;
  font-family: Comic;
  font-weight: 2000px;
  /* background-color: rgb(165, 110, 135); */
  /* text-shadow: 1px 1px 0px rgb(165, 110, 135), 3px 3px 3px black; */
  font-size: 22px;
  position: relative;
  top: 220px;
  left: 180px;
}
